h1  { color: green; text-align: center;}
p {
    color: blue;
    font-size: 18px;
}

button {
    background-color: yellow;
    color:black;
    border-radius: 5 px;
    padding: 10px 20px;
}